<h1 class="product_title">Cakes</h1>

<div class="product_grid">
	<div>
    	<input type="image" src=<%= @chocolate_cake.image %> class="product">
		<div class="content">
        	<h1><%= @chocolate_cake.name %></h1>
            <h2>Single: <%= @chocolate_cake.single_price %></h2>
            <h2>Whole: <%= @chocolate_cake.whole_price %></h2>
  			<p><%= @chocolate_cake.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @red_velvet_cake.image %> class="product">
		<div class="content">
 			<h1><%= @red_velvet_cake.name %></h1>
            <h2>Single: <%= @red_velvet_cake.single_price %></h2>
            <h2>Whole: <%= @red_velvet_cake.whole_price %></h2>
  			<p><%= @red_velvet_cake.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @coconut_cake.image %> class="product">
		<div class="content">
 			<h1><%= @coconut_cake.name %></h1>
            <h2>Single: <%= @coconut_cake.single_price %></h2>
            <h2>Whole: <%= @coconut_cake.whole_price %></h2>
  			<p><%= @coconut_cake.description %></p>
		</div>
	</div>
    <div>
    	<input type="image" src=<%= @pound_cake.image %> class="product">
		<div class="content">
 			<h1><%= @pound_cake.name %></h1>
            <h2>Single: <%= @pound_cake.single_price %></h2>
            <h2>Whole: <%= @pound_cake.whole_price %></h2>
  			<p><%= @pound_cake.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @ice_cream_cake.image %> class="product">
		<div class="content">
 			<h1><%= @ice_cream_cake.name %></h1>
            <h2>Single: <%= @ice_cream_cake.single_price %></h2>
            <h2>Whole: <%= @ice_cream_cake.whole_price %></h2>
  			<p><%= @ice_cream_cake.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @coffee_cake.image %> class="product">
		<div class="content">
 			<h1><%= @coffee_cake.name %></h1>
            <h2>Single: <%= @coffee_cake.single_price %></h2>
            <h2>Whole: <%= @coffee_cake.whole_price %></h2>
  			<p><%= @coffee_cake.description %></p>
		</div>
	</div>
</div>