<h1 class="product_title">Muffins</h1>

<div class="product_grid">
	<div>
    	<input type="image" src=<%= @chocolate_chip_muffin.image %> class="product">
		<div class="content">
        	<h1><%= @chocolate_chip_muffin.name %></h1>
            <h2>Single: <%= @chocolate_chip_muffin.single_price %></h2>
            <h2>Dozen: <%= @chocolate_chip_muffin.whole_price %></h2>
  			<p><%= @chocolate_chip_muffin.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @banana_muffin.image %> class="product">
		<div class="content">
 			<h1><%= @banana_muffin.name %></h1>
            <h2>Single: <%= @banana_muffin.single_price %></h2>
            <h2>Dozen: <%= @banana_muffin.whole_price %></h2>
  			<p><%= @banana_muffin.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @cornbread_muffin.image %> class="product">
		<div class="content">
 			<h1><%= @cornbread_muffin.name %></h1>
            <h2>Single: <%= @cornbread_muffin.single_price %></h2>
            <h2>Dozen: <%= @cornbread_muffin.whole_price %></h2>
  			<p><%= @cornbread_muffin.description %></p>
		</div>
	</div>
    <div>
    	<input type="image" src=<%= @blueberry_muffin.image %> class="product">
		<div class="content">
 			<h1><%= @blueberry_muffin.name %></h1>
            <h2>Single: <%= @blueberry_muffin.single_price %></h2>
            <h2>Dozen: <%= @blueberry_muffin.whole_price %></h2>
  			<p><%= @blueberry_muffin.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @cinammon_muffin.image %> class="product">
		<div class="content">
 			<h1><%= @cinammon_muffin.name %></h1>
            <h2>Single: <%= @cinammon_muffin.single_price %></h2>
            <h2>Dozen: <%= @cinammon_muffin.whole_price %></h2>
  			<p><%= @cinammon_muffin.description %></p>
		</div>
	</div>
	<div>
		<input type="image" src=<%= @coffee_muffin.image %> class="product">
		<div class="content">
 			<h1><%= @coffee_muffin.name %></h1>
            <h2>Single: <%= @coffee_muffin.single_price %></h2>
            <h2>Dozen: <%= @coffee_muffin.whole_price %></h2>
  			<p><%= @coffee_muffin.description %></p>
		</div>
	</div>
</div>